<!doctype html>
<html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
		    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:400,500,700" rel="stylesheet">
        <%= stylesheet_link_tag "application", :media => "all" %>
    </head>
    <body>

      <header class="header">
        <a href="javascript:;" class="hamburger"><%= image_tag "library/images/Hamburger.svg" %></a>
        <a href="" class="logo" id="logo"></a>
        <% if employee_signed_in? %>
          <ul class="nav navbar-nav" style="float: right;">
            <%= link_to destroy_employee_session_path(:authenticity_token => form_authenticity_token()), method: 'delete', class: "conta" do %>
              <%= image_tag "library/images/Profile.svg" %>
            <% end %>
          </ul>
        <% end %>
      </header>

      <main>
        <%= yield %>
      </main>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <%= javascript_include_tag "application" %>
    </body>
</html>
